.section-follow .fa-{
    margin: 5px 10px;
}

#map {
        height: 70%;
      }
      
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

table {
        font-size: 12px;
      }
#findhotels {
    text-align:center;
}

#listing {
        cursor: pointer;
        overflow-x: hidden;
      }
      

#locationField {
        background-color: #fff;
        text-align: center;
        height: 45px;
        width: 100%;
        
      }

#autocomplete {
        width: 50%;
        text-align: center;
      }

.placeIcon {
        width: 20px;
        height: 34px;
        margin: 4px;
      }
      
.hotelIcon {
        width: 24px;
        height: 24px;
      }