html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

table {
        font-size: 12px;
      }
      

.section-follow .fa-2x{
    margin: 5px 10px;
}

.placeIcon {
        width: 20px;
        height: 34px;
        margin: 4px;
      }
      
.hotelIcon {
        width: 24px;
        height: 24px;
      }

.iw_table_row {
        height: 18px;
      }
      
.iw_attribute_name {
        font-weight: bold;
        text-align: right;
      }
      
.iw_table_icon {
        text-align: right;
      }
      
      

#locationField {
        background-color: #fff;
        text-align: center;
        height: 45px;
        width: 100%;
        
      }

#autocomplete {
        width: 50%;
        text-align: center;
      }

#map {
        height: 100%;
        width: 100%;
        position: relative; 
        overflow: hidden;
      }
      

#findhotels {
    text-align:center;
}

    
#resultsTable {
    border-collapse: collapse;
    width: 240px;
}

#listing {
    position: absolute;
    height: 80%;
    overflow: auto;
    cursor: pointer;
    overflow-x: hidden;
}

      
 #rating {
        font-size: 13px;
        font-family: Arial Unicode MS;
      }
      
@media all and (max-width: 992px) {
  #resultsTable { display: none; }
}
     